@charset "UTF-8";
a:link    { color:#4fa4ea; }
a:visited { color:#bf7fda; }
a:hover   { color:white; background-color:brown; }

p.info, span.info, ul.info { color:green; font-size:80%; }

ul.smo-navlist li a { color:white; border-color:#27b; }
ul.smo-navlist a:visited { color:white; }

ul.smo-navlist a:hover,
ul.smo-navlist a:active,
ul.smo-navlist a:focus   { color:#039; text-decoration:none; border-top-color:#14a; border-bottom-color:#14a; background-color:#ff0; }

/* ------------ Link buttons ----------------------------------------------------------------------------------------- */
ul.linkbuts { clear:both; width:100%; padding:3px 1px;
              margin:0 0 1px 0; list-style-type:none; float:left;
              color:#ffa; background-color:#cef;
              white-space:nowrap; }
ul.linkbuts li { display:inline; float:left; margin:2px 2px; }
ul.linkbuts li a { border:0; padding:2px 4px; border-radius:6px;
                   background-color:#27b; color:white; text-decoration:none; }
ul.linkbuts li a.authorbut { background-color:#3a3; }
ul.linkbuts li.right { float:right; margin-right:6px; }
ul.linkbuts li a:hover,
ul.linkbuts li a:active,
ul.linkbuts li a:focus  { background-color:#00c; color:white; }

/* ------------ Formaichean ------------------------------------------------------------------------------------------ */
input:focus, checkbox:focus  { background-color:#eef; color:blue; }
input[type="password"]:focus { background-color:#fef; }
input:focus:invalid { background-color:#fdd; }
input[type=submit], a.button { font-size:112%; background-color:#55a8eb; color:white; font-weight:bold; padding:3px 10px; border:0; border-radius:8px; }
input[type=submit]:hover, a.button:hover { background-color:blue; }
